<%# coding: UTF-8 -%>

  <form method="post" action="<%= @form_action || "forgot_pwd" %>" id="forgot-pwd-form">

    <div class="jnc-cas-title"><%= t.label.forgot_password %></div>
    <div class="jnc-cas-descr"><%= t.email.forgot_pwd_before %></div>
    <div class="jnc-cas-field">
      <div class="jnc-cas-field-title">Email</div>
      <input type="email" class="jnc-form-control jnc-cas-field-input">
    </div>
    <div class="jnc-cas-footer">
      <div class="jnc-grid jnc-grid-row">
        <div class="jnc-grid-col jnc-grid-col-6">
          <a href="#" onclick="document.forms[0].submit();return false;" class="jnc-simple-btn jnc-simple-btn-light-blue jnc-cas-btn"><%= t.button.reset_password %></a>
        </div>
      </div>
    </div>
  </form>
