 <div class="login-box-wrapper">
    <div class="login-box-title">
      <h3>Login</h3>
    </div>
    <%# coding: UTF-8 -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <div class="box login-user-box">
      <form method="post" action="<%= @form_action || "login" %>" id="login-form"
        onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;"> 
        <input type="text" id="username" name="username" placeholder="Email" size="64" tabindex="1" accesskey="u" />
        <input type="password" id="password" name="password" placeholder="Password" size="64" tabindex="2" accesskey="p" autocomplete="off" />
        <div id="login-submit">
          <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
          <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
           <div class="ac">
             <button class="login-button login-btn-green" tabindex="4" type="submit">Log in</button>
           </div> 
        </div>
      </form>
    </div>
</div>
