 <div class="login-box-wrapper">
    <%# coding: UTF-8 -%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <div>
      <form method="post" action="<%= @form_action || "signup" %>" id="signup-form"
        onsubmit="submitbutton = document.getElementById('signup-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
        <input type="text" id="nickname" name="nickname" placeholder="Nickname" size="64" tabindex="1" accesskey="u" />
        <input type="text" id="email" name="email" placeholder="Email" size="64" tabindex="2" accesskey="u" />
        <input type="text" id="email2" name="email2" placeholder="Confirm email" size="64" tabindex="3" accesskey="p" autocomplete="off" />
        <input type="password" id="password" name="password" placeholder="Password" size="64" tabindex="4" accesskey="p" autocomplete="off" />
        <input type="checkbox" name="show_pwd" value="show_pwd" onclick="showPassword('txtPassword','Password');">Show password<br>
        <div id="signup-submit">
          <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
          <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
           <div>
             <button tabindex="4" type="submit">Register</button>
           </div> 
        </div>
      </form>
    </div>
</div>

<script>
   function showPassword() {
       var pwd = document.getElementById("password");
       if (pwd.type == "password")
         pwd.setAttribute('type', 'text');
       else
         pwd.setAttribute('type', 'password');
   }
 </script>

