<div class="jnc-cas-account-created">
  <div class="jnc-cas-account-created-img"><img src="img/account_created.png" alt=""></div>
</div>
<div class="jnc-cas-field">
  <div class="jnc-cas-descr jnc-text-center"><%= t.label.account_created%></div>
</div>
<div class="jnc-cas-field">
   <div class="jnc-cas-field-link jnc-text-center"><a href="<%=@service%>" class="jnc-link">Continue</a></div>
</div>
