<%# coding: UTF-8 -%>
<% if @message %>
    <div class="messagebox <%= escape_html @message[:type] %>">
      <%= escape_html @message[:message] %>
    </div>
<% end %>
<%= erb(:_forgot_pwd_form, :layout => false) %>

