<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="authenticity_token" name="csrf-param" />
  <title>NavionicsWebApi v2</title>

  <link rel="stylesheet" href="//webapiv2.navionics.com/dist/webapi/webapi.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <script type="text/javascript" src="//webapi-dev.navionics.io/dist/webapi/webapi.min.no-dep.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body onload="if (document.getElementById('username')) document.getElementById('username').focus()" data-root="//webapiv2.navionics.com/dist/webapi/images">

<div class="page-content">
  <div class="page-content-inner">
    <div id="site-header"></div>

    <div id="site-content-wrapper" class="card-content">
      <div class="card">
        <%= yield %>
      </div>
    </div>

    <div class="features">
      <h2 class="features-title">One account. All Navionics world.</h2>
      <div class="features-row">
        <div class="features-col">
          <div class="feature">
            <div class="feature-title">Update Your Charts</div>
            <div class="feature-img"><img src="img/update_charts.png" alt=""></div>
            <div class="feature-descr">More than 2,000 updates per day.</div>
          </div>
        </div>
        <div class="features-col">
          <div class="feature">
            <div class="feature-title">Check Sonar Logs</div>
            <div class="feature-img"><img src="img/sonar_logs.png" alt=""></div>
            <div class="feature-descr">Check processing status of uploaded Sonar Logs.</div>
          </div>
        </div>
        <div class="features-col">
          <div class="feature">
            <div class="feature-title">No Spam Ever</div>
            <div class="feature-img"><img src="img/no_spam.png" alt=""></div>
            <div class="feature-descr">We care about you privacy. We never spam or sell your data.</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="site-footer" class="page-footer"></div>

  <script type="text/javascript">
    (function() {
        headerObject = new JNC.Views.Header();
        footer = new JNC.Views.Footer();
        headerObject.render();
        footer.render();
    })();

    var $ = JNC.$;

    $(document).ready(function() {
        var $footer = $('.page-footer');
        var $contentInner = $('.page-content-inner');

        $(window).resize(function() {
            var footerHeight = $footer.height();

            $footer.css('margin-top', -footerHeight);
            $contentInner.css('padding-bottom', footerHeight);
        });
    });
  </script>
</body>
</html>
