<%# coding: UTF-8 -%>
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml" xml:lang="en" lang="en" >
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="authenticity_token" name="csrf-param" />
      <title>NavionicsWebApi v2</title>
  <style>

        html, body {
            height: 100%;
        }

        body {
            display: table;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Roboto", "Arial", "sans-serif";
        }

        .card {
            width: 400px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            background: #f4f4f4;
            -webkit-transition: all 250ms;
            -moz-transition: all 250ms;
            transition: all 250ms;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        .page-row {
            display: table-row;
            height: 1px;
        }

        .page-row-expanded {
            height: 100%;
        }
        .body-container {
            display: none;
        }
    </style>
      <link rel="stylesheet" href="//webapiv2.navionics.com/dist/webapi/webapi.min.css">
      <script type="text/javascript" src="//webapi-dev.navionics.io/dist/webapi/webapi.min.no-dep.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>
  <body onload="if (document.getElementById('username')) document.getElementById('username').focus()", data-root="//webapiv2.navionics.com/dist/webapi/images">
    <div id="body-container" class="body-container">
    <div id="site-header" class="page-row"></div>
    <div id="site-content-wrapper" class="page-row  page-row-expanded">
    <div class="card">    
    <%= yield %>
    </div>
    </div>
    <div id="site-footer" class="page-row"></div>
    </div>
    <script type="text/javascript">
    (function () {
        headerObject = new JNC.Views.Header();
        footer = new JNC.Views.Footer();
        headerObject.render();
        footer.render();
    })();
    $(window).load(function(){ 
        $("#body-container").show(); 
    });
    </script>
  </body>
</html>
