<div class="login-form">
  <div class="profile-info clearfix">
    <div class="reg-upload-ava-preview"><img src="http://p-hold.com/man/60/60" alt=""/></div>
    <div class="reg-upload-ava-content">
      <div class="profile-info-name">Him Dam TOCGRS!</div>
    </div>
  </div>

  <div class="form-text">
    <div><strong>Last activity:</strong> 5 tracks synced from a Navionics+ Europe - <a href="#">see tracks</a></div>
  </div>

  <div class="form-button-block"><button type="submit" class="form-button button-secondary-style">Account</button></div>

  <div class="login-reg-link-block">Tired of being here? <a href="/cas/logout">Logout</a></div>
</div>