<% if @message %>
<div class="messagebox <%= escape_html @message[:type] %>">
    <%= escape_html @message[:message] %>
</div>
<% end %>
<div id="login-main-content">
</div>
<div class="login-form">
    <%= erb(:_login_form, :layout => false) %>
    <div class="login-reg-link-block">Don't have an account yet?<br><a href="<%= get_path %>/signup">Create account</a></div>
</div>