<% if @message %>
<div class="messagebox <%= escape_html @message[:type] %>">
    <%= escape_html @message[:message] %>
</div>
<% end %>
<div class="jnc-cas">
  <%= erb(:_login_form, :layout => false) %>
</div>