<% if @message %>
    <div class="jnc-cas-descr jnc-text-center"><%= escape_html @message[:message] %></div>
    <div class="jnc-cas-field">
        <div class="jnc-cas-field">
          <div class="jnc-cas-field-link jnc-cas-field-link-small jnc-text-center"><a href="/cas" class="jnc-link"><%= t.email.forgot_pwd_cancel %></a></div>
        </div>
    </div>
<% else %>
    <%= erb(:_passwords_form, :layout => true) %>
<% end %>