<%# coding: UTF-8 -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
<% if @message %>
    <div class="messagebox <%= escape_html @message[:type] %>">
      <%= escape_html @message[:message] %>
    </div>
<% end %>
<div class="login-form">
  <%= erb(:_signup_form, :layout => false) %>

  <div class="login-reg-link-block">Or go back to <a href="<%= get_path %>">Login</a></div>
</div>