<%# coding: UTF-8 -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  <div id="login-main-content">
    <%= erb(:_signup_form, :layout => false) %>
  </div>
